// systemFont = -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol"

@font-face {
  font-family: 'Modalz-Short';
  src:  url('/static/modalz-short.woff2') format('woff2');
}

@font-face {
  font-family: 'Modalz-Tall';
  src:  url('/static/modalz-tall.woff2') format('woff2');
}

*, *::before, *::after {
	box-sizing: border-box;
}

html
	font-family 'Modalz-Short';
	background: rgb(255,255,255);
	background: linear-gradient(0deg, rgba(0,212,255,1) 10%, #7FDBFF 90%);
	background-attachment fixed
	height 100%
	color #001F3F

body {
	margin: 0;
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'Modalz-Tall';
}

main
	margin: 0 auto;
	padding: 0 1em;
	width: 100%;
	max-width: 50em;

h1, h2
	text-align center
	font-weight normal
	font-size 5em
	margin: 0.25em 0 0.5em
form
	width 100%
	text-align: center

label
	display: block;
	font-size: 2em;
	margin-bottom: 0.5em;

input, button
	font-size 1.5em
	font-family 'Modalz-Short';
button
	background-color rgba(46,46,46,1)
	color white
	border none
	padding 3px 10px
	&:hover, &:focus
		background-color rgba(46,46,46,.7)
input
	width 100%
	padding: 0.5em
	border: 0.25em solid
	padding-left: 2.8em;


.submit-button {
	margin: 1em auto 0;
	padding: 0.5em 1em;
	cursor: pointer;
	border: 0.25em solid white
}

.input-wrapper {
	position: relative;
}

.input-wrapper::before {
	content: "@"
	position: absolute;
  left: 0;
  top: 0;
  font-size: 1.5em;
  height: 100%;
  border-right: 0.25em solid black;
  width: 2.5em;
	line-height: 2.3
	text-indent: 0.325em
}
