.sr-only {
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
  clip: rect(1px, 1px, 1px, 1px);
}

.heading {
  font-size: 1.5em;
  text-align: center;
}

.users-table {
  width: 100%;
  border-collapse: separate;
  border-spacing: 0 1em;
}

.users-table__row {
  display: flex;

}

.users-table__row--header {
  box-shadow: 0.25em 0, 0 0.25em, -0.25em 0, 0 -0.25em;
  color: white;
  background-color: #001F3F;
  align-items: flex-start;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
}

.users-table__header {
}

.users-table__cell {
  padding: 0.25em;
}

.users-table__cell--column {
}

.users-table__cell--user {
  text-align: left;
  flex: 1 0 auto;
  display: flex;
  align-items: center;
  padding: 0;
}

.users-table__cell--column--user {
  padding-left: 0.5em;
}

.users-table__cell--numeric {
  text-align: right;
  flex: 1 0 auto;
  width: 100%;
  padding: 0.25em;
  background-color: #001f3f;
  color: white;
}

.users-table__sort {
  font-size: 1em;
  font-weight: 700;
  cursor: pointer;
  border: 0;
  background-color: transparent;
}

.users-table__body {}

.users-table__row--body {
  box-shadow: 0.25em 0, 0 0.25em, -0.25em 0, 0 -0.25em;
  background-color: hsla(0, 100%, 100%, 0.8);
  box-shadow: 0.25em 0, 0 0.25em, -0.25em 0, 0 -0.25em;
  align-items: center;
  margin: 0.75em 0;
  flex-wrap: wrap;
}

.tweets-cell {
  display: inline-flex;
  align-items: baseline;
}

.tweets-daily {
  flex: 1 0 auto;
  width: 4em;
}

.tweets-total {
  flex: 0 0 auto;
  width: 6em;
}

.canvas {
  width: 96px;
  height: 96px;
  image-rendering: pixelated;
  image-rendering: crisp-edges;
  margin-right: 1em;
}

.users-table__row--footer {
  box-shadow: 0.25em 0, 0 0.25em, -0.25em 0, 0 -0.25em;
  color: white;
  background-color: #001F3F;
  align-items: flex-start;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  flex-wrap: wrap;
}

.large-only {
  display: none;
  visibility: hidden;
}

@media (min-width: 40em) {
  .users-table__row {
    padding-right: 0.5em;
  }

  .users-table__cell--numeric {
    flex: 0 0 auto;
    background-color: transparent;
    color: inherit;
    padding: 0;
    width: 10em;
  }

  .users-table__row--body {
    flex-wrap: nowrap;
  }

  .users-table__row--footer {
    flex-wrap: nowrap;
  }

  .small-only {
    display: none;
    visibility: hidden;
  }
}
