.sr-only {
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
  clip: rect(1px, 1px, 1px, 1px);
}

.heading {
  font-size: 1.5em;
  text-align: center;
  padding: 0.5em 0.25em;
  box-shadow: 0.175em 0, 0 0.175em, -0.175em 0, 0 -0.175em;
  overflow: hidden;
}

.username {
  display: block;
  font-size: 150%;
}

.users-table {
  width: 100%;
  border-collapse: separate;
  border-spacing: 0 1em;
  padding: 0.5em 0;
}

.users-table__row {
  display: flex;
}

.users-table__row--header {
  box-shadow: 0.25em 0, 0 0.25em, -0.25em 0, 0 -0.25em;
  color: var(--light-color);
  background-color: var(--main-color);
  align-items: flex-start;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
}

.users-table__cell {
  padding: 0.25em;
}

.users-table__cell--user {
  text-align: left;
  flex: 1 0 auto;
  display: flex;
  align-items: center;
  padding: 0;
}

.users-table__cell--column--user {
  padding-left: 0.5em;
}

.users-table__cell--numeric {
  text-align: right;
  flex: 1 0 auto;
  width: 100%;
  padding: 0.25em;
  background-color: var(--main-color);
  color: var(--light-color);
}

.users-table__sort {
  font-size: 1em;
  font-weight: 700;
  cursor: pointer;
  border: 0;
  background-color: transparent;
}

.users-table__row--body {
  background-color: rgba(255, 255, 255, 0.8);
  box-shadow: 0.25em 0, 0 0.25em, -0.25em 0, 0 -0.25em;
  align-items: center;
  margin: 0.75em 0;
  flex-wrap: wrap;
  overflow: hidden;
}

.tweets-cell {
  display: inline-flex;
  align-items: baseline;
}

.tweets-daily {
  flex: 1 0 auto;
  width: 4em;
}

.tweets-total {
  flex: 0 0 auto;
  width: 6em;
}

.canvas {
  width: 96px;
  height: 96px;
  image-rendering: pixelated;
  margin-right: 1em;
}

.users-table__row--footer {
  box-shadow: 0.25em 0, 0 0.25em, -0.25em 0, 0 -0.25em;
  color: var(--light-color);
  background-color: var(--main-color);
  align-items: flex-start;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  flex-wrap: wrap;
}

.large-only {
  display: none;
  visibility: hidden;
}

.button-group {
  box-shadow: 0.25em 0, 0 0.25em, -0.25em 0, 0 -0.25em;
  background-color: var(--light-color);
  padding: 1em 0.5em;
  margin-bottom: 1em;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.time-range {
  flex: 1 0 auto;
  width: 100%;
  text-align: center;
  margin-bottom: 0.5em;
}

.range-link {
  margin-top: 0.5em;
}

.range-link[aria-current="page"] {
  border-bottom: none;
  cursor: auto;
}

.range-link[aria-current="page"]:hover,
.range-link[aria-current="page"]:focus {
  color: var(--main-color);
}

.range-link + .range-link {
  margin-left: 1em;
}

@media (min-width: 47.5em) {
  .users-table__row {
    padding-right: 0.5em;
  }

  .users-table__cell--numeric {
    flex: 0 0 auto;
    background-color: transparent;
    color: inherit;
    padding: 0;
    width: 10em;
  }

  .users-table__row--body {
    flex-wrap: nowrap;
  }

  .users-table__row--footer {
    flex-wrap: nowrap;
  }

  .small-only {
    display: none;
    visibility: hidden;
  }

  .large-only {
    display: block;
    visibility: visible;
  }
}
